body {
  background: #151f28	;
  transition: opacity 2s;
}
:root {
  --color-letras: #dadada;
}
.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: white;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 5px solid hsla(9, 0%, 199%, 0.5);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}
/*ENCABEZADO*/
.encabezado{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.encabezado img{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: rgb(0, 0, 0) solid 5px;
  box-shadow: 16px 8px 16px 8px rgba(0, 0, 0, 0.2), 20px 6px 20px 6px rgba(0, 0, 0, 0.19);
}

.encabezado__contenido{
  margin-left: 25px;
}
@media  (max-width:500px){
  .encabezado__contenido{
    margin: 0;
  }
}

.encabezado__contenido h1 {
  font-size: 2em;
  font-weight: bold;
  color: var(--color-letras);
  margin: 0;
}
.encabezado__contenido p {
  font-size: 1.2em;
  color: var(--color-letras);
  line-height: 1.6;
  margin: 0;
}
@media (max-width: 700px) {
  .encabezado{
    display: flex;
    flex-direction: column;
  }
  .encabezado__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
 }
.botones{
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.boton__linkedin{
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2
  );
}
.boton {
  margin-top: 10px;
  background-color: #003366;
  display: inline-block;
  color: #fff; 
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  
}
.boton:hover{
  background-color: #376796;
}
/*ENCABEZADO FINAL*/



/*ESTUDIOS*/

.estudios{
  margin-right: 31%;
  margin-left: 31%;
  margin-top: 50px;
}
.estudios h3{
  font-size: 1.6em;
  color: var(--color-letras);
}
.estudios p{
  font-size: 1em;
  color: var(--color-letras);
}
.estudios dt dd{
  color: var(--color-letras);
}
@media (max-width: 1000px) {
  .estudios {
     width: 100%;
     margin-right: 0;
     margin-left: 0;
  }
 }
 /*FIN ESTUDIOS*/