body{
    background: black;
    cursor: none;
    background-color: black;
}
body h1 {
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body h2{
    font-size: 25px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body p{
    font-size: 20px;
    color: white;
    font-family: 'Dancing Script', cursive;

}
/*BURBUJAS*/
/*NAVEGACION*/
ul{list-style: none;}

.boton {
	width: 50px;
	margin: 0 auto;
	margin-top: 5%;
}

.lineas {
	width: 50px;
	height: 50px;
	border-radius:7px;
	margin: 0 auto;
	padding: 7px;
}

.lineas > div {
	height: 5px;
	width: 100%;
	background: white;
	margin: 0 auto;
	margin-top: 9px;
	transition:all 1s;
}

.lineas:hover > div:nth-child(2) { 
	width: 50%; margin: 0 auto;margin-top: 9px;
}
.lineas:hover > div:last-child { 
	width: 30%; margin: 0 auto;margin-top: 9px;
}

.boton ul {
    background: black;
	height: 0; /* OCULTAMOS MENÚ */
	overflow: hidden;
	width: 300px;
	margin-left: -118px;
	transition:all 1.5s; 
	
}
.boton ul li:first-child {
	border: 2px solid transparent;
	border-bottom-color:white solid 1px;
	width: 0;
	position: relative;
	left: 50%;
	margin-left: -20px
}
.boton ul li a {
	display: block;
    text-align: center;
	padding: 15px 0;
	color:white;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #dadada
}

.boton ul li a:hover {
	box-shadow:0 -5px 0 white inset;
}

.boton:hover ul {
	height: auto;
}


/*CURSOR*/

.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: white;
}
.cursor-outline{
    width: 30px;
    height: 30px;
    border: 5px solid hsla(9, 0%, 199%, 0.5);
}
.cursor-dot, .cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}
.slide{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.slide img{
    width: 50px;
    height: 50px;
    margin-right: 5%; /* Ajusta el valor del margen derecho según tus preferencias */


}

/*CURSOR*/
.burbuja{
    border-radius: 50%;
    background-color: #fff;
    opacity: .3;
    position:absolute;
    bottom: -150;
    animation: burbuja 3s linear infinite;
}
.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 15%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(3){
    width: 62px;
    height: 62px;
    left: 28%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(4){
    width: 100px;
    height: 100px;
    left: 45%;
    animation-duration: 3s;
    animation-delay: 4s;
}
.burbuja:nth-child(5){
    width: 65px;
    height: 65px;
    left: 55%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(6){
    width: 80px;
    height: 80px;
    left: 68%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 91%;
    animation-duration: 3s;
    animation-delay: 1s;
}

@keyframes burbuja{
   0%{
    bottom: 0;
    opacity: 0;
   }
   50%{
    opacity: .4;
   }
   100%{
    bottom: 100vh;
    opacity: 0;
   }
}
/*NAVEGACION*/

.contenedor-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    height: 17vh;
}



/*NAVEGACION FINAL, COMIENZO DE PRESENTACION*/

#inicio{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 100%;
    gap: 10px;
}
.columna-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl; 
    transform: rotate(360deg); 
    transform-origin: center; 
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fraunces&family=Pacifico&display=swap');
.columna-inicio .titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}
.columna-inicio2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.columna-inicio3{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(-1);

}
.columna-inicio3 img {
    width: 100%;
}

/*FINAL PRESENTACION*/
/*ESTUDIOS*/
.estudios-contenedor{
    border-top: 2px rgb(66, 66, 105) solid;
}
.teachers{
    display: flex;
    gap: 6rem;
}


/*FINAL ESTUDIOS*/
/*PROYECTOS*/
#sobremi{
    margin-top: 40vh;
    height: 100vh;
}

/*FINAL PROYECTOS*/



/*FOOTER*/

footer{
    margin-top: 5%;
    width: 100%;
    height: 10vh;
}


.text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-linkedin, .fa-github, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.github {
  background: #1f1c1c;
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #ffffff;
  border-color: #000000;
}

.rounded-social-buttons .social-button.instagram {
  background: #3f729b;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}